body{
        font-size: larger;
    font-family: Verdana;
    background-color:cadetblue;
    font-weight: bold;
}

h1{
    color: cyan;
    -webkit-text-stroke: 1px black;
    margin-bottom: 10px;
    text-align: center;

}


#container {
    background-color: lightblue;
    border-radius: 10px;
    padding: 20px;
    border: 5px lightcyan solid;
    height: 465px;
    width: 600px;
    font-size: 20px;
    margin: auto;
    
}

.display{
    display: inline-block;
    width: 300px;
    margin: 0%;
}   

.label {
    display: inline-block;
    width: 250px;
    margin: 0%;
}

.deduction {
    text-align: end;
}

h3 {
    width: 450px;
}
.result {
    margin-bottom: 5px;
}

.output {
    display: inline-block;
    width: 144px;
    margin: 0%;
}
