body{
    font-family: Verdana;
    font-size: larger;
    background-color:cadetblue;
    font-weight: bold;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: cyan;
    -webkit-text-stroke: 1px black;
    margin-bottom: 10px;
}

.container {
    background-color: lightblue;
    border-radius: 10px;
    padding: 20px;
    border: 5px lightcyan solid;
    height: 350px;
    width: 600px;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    
}



#content {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    

}


label {
    width: 200px;
}



.input {
    width: 350px;
    height: 25px;
    border-radius: 10px;
    border-color: black;
    border-width: 3px;
    font-size: large;
    border: solid;
    
}

#submitBtn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
    border: solid;
    
}

#submitBtn:focus {
    background-color: lightgreen;
    color: red;
    border-color: black;
    
}




.submit {
    display: flex;
    justify-content: end;
    margin-top: 20px;

}

.input:focus {
    outline: none;
    border-color:blue;
    
}
